


<h1><%= @character.name %> <%= link_to "(edit)", edit_house_character_path %></h1>
<% characters.each do |character| %>
<div class="character">
  <p>
    HELLLLLOOOOO?
  </p>
  <%= link_to "#{character.name}", house_character_path(@house, @character) %>
  <img src="<%= character.img_url %>">
</div>
<% end %>
